{% extends 'base.html' %}

{% block title %}
    {% if object %}
        Редактирование модели ведущего моста — Мой Силант
    {% else %}
        Добавление модели ведущего моста — Мой Силант
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if object %}
            Редактирование модели ведущего моста
        {% else %}
            Добавление модели ведущего моста
        {% endif %}
    </h1>

    <form class="entity-form" method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="form-actions">
            <button
                class="button button--primary"
                type="submit"
            >
                Сохранить
            </button>

            <a
                class="button button--secondary"
                href="{% url 'machines:drive_axle_model_list' %}"
            >
                Отмена
            </a>
        </div>
    </form>

{% endblock %}
