{% extends 'base.html' %}

{% block title %}
    {% if object %}
        Редактирование способа восстановления — Мой Силант
    {% else %}
        Добавление способа восстановления — Мой Силант
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if object %}
            Редактирование способа восстановления
        {% else %}
            Добавление способа восстановления
        {% endif %}
    </h1>

    <form class="entity-form" method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="form-actions">
            <button
                class="button button--primary"
                type="submit"
            >
                Сохранить
            </button>

            <a
                class="button button--secondary"
                href="{% url 'complaints:recovery_method_list' %}"
            >
                Отмена
            </a>
        </div>
    </form>

{% endblock %}
